-- Fix private buckets for SIMOSDA
update storage.buckets set public = true where id in ('pegawai-photos', 'asset-photos');

-- Buat policy publik agar object dapat diakses via publicUrl
create policy \
Public
Access\ on storage.objects for select using ( bucket_id in ('pegawai-photos', 'asset-photos') );
